.font-size38 {
    font-size: 38px;
}

.team-single-text .section-heading h4,
.section-heading h5 {
    font-size: 36px;

}

.team-single-text .section-heading.half {
    margin-bottom: 20px
}

@media screen and (max-width: 1199px) {

    .team-single-text .section-heading h4,
    .section-heading h5 {
        font-size: 32px
    }

    .team-single-text .section-heading.half {
        margin-bottom: 15px
    }
}

@media screen and (max-width: 991px) {

    .team-single-text .section-heading h4,
    .section-heading h5 {
        font-size: 28px
    }

    .team-single-text .section-heading.half {
        margin-bottom: 10px
    }
}

@media screen and (max-width: 767px) {

    .team-single-text .section-heading h4,
    .section-heading h5 {
        font-size: 24px
    }
}


.bg-light-gray {
    background-color: #f7f7f7;
}



img {
    max-width: 100%;
    height: auto;
}





.custom-progress {
    height: 10px;
    border-radius: 50px;
    box-shadow: none;
    margin-bottom: 25px;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #c2c2c2;
    border-radius: .25rem;
}


.bg-sky {
    background-color: #3e5623;
}



p {
    color: #121312;
}